:root {
	--leftbarwidth: 200px; /* adjust this for your best view */
	--browserborder: 10px; /* change this if you want to change border size */
	--PinnedTab: 45px; /* pinned tabs height */
	--biggertab: 40px; /* normal tabs height */
	--lightgradient: linear-gradient(#C9CEE1, #EEB7CA);
	/* ^^^ Adjust as you want ^^^ */
	--PinnedWidth: calc(var(--leftbarwidth) - var(--browserborder) - var(--browserborder));
}
/* Theme settings */
.theme-id-ccf1c7b4-2d19-415f-9ef4-9b24d4df0253 {
	&, .tabbar-wrapper > .tabbar-wrapper, #tabs-subcontainer,
	#panels-container:has(#panel_switch), #panels-container:has(#panel_switch) .panel-group,
	&:not(.toolbar-edit-mode) .toolbar-extensions {
		background-image: var(--lightgradient) !important;
	}
}
.theme-id-6daae12c-c28f-462a-9f56-4755ea72948e {
	&, .tabbar-wrapper > .tabbar-wrapper, #tabs-subcontainer,
	#panels-container:has(#panel_switch), #panels-container:has(#panel_switch) .panel-group,
	&:not(.toolbar-edit-mode) .toolbar-extensions {
		background-image: linear-gradient(var(--colorAccentBg), var(--colorAccentBg)) !important;
	}
}
/* top bar */
/*more arc*/
#browser.win.address-top .toolbar:has(.window-buttongroup.on-mainbar) {
	padding-right: calc(46px * 3);
}
/* For address bar on bottom */
#browser.win.address-bottom:not(.is-settingspage) {
	#header {order: 1;max-height: 0px;min-height: 0px;}
	.mainbar {padding-left: var(--menuWidth);padding-right: calc(46px * 3);border-top-width: 0px !important;}
	.window-buttongroup {top:-34px;min-height: 34px !important;max-height: 34px !important;height: 34px !important;scale: 1 !important;}
	.window-buttongroup > button {height: 34px !important;}
	.button-toolbar.toolbar-spacer-flexible > button, .button-toolbar.toolbar-spacer > button {-webkit-app-region: drag;}
	button.vivaldi {top:-34px;height:34px !important;width:var(--menuWidth);scale: unset !important;}
	:not(.fullscreen) #webpage-stack {margin-top: var(--browserborder);margin-bottom: unset !important;}
	:has(.switcher) .mainbar > .toolbar.toolbar-visible > div:nth-child(3)[class="button-toolbar toolbar-spacer"],
	:has(.switcher) .mainbar > .toolbar.toolbar-visible > div:nth-child(3)[class="button-toolbar toolbar-spacer button-disabled-preview"] {max-width: 0px;}
	:not(:has(.switcher)) .mainbar > .toolbar.toolbar-visible > div:nth-child(3)[class="button-toolbar toolbar-spacer"],
	:not(:has(.switcher)) .mainbar > .toolbar.toolbar-visible > div:nth-child(3)[class="button-toolbar toolbar-spacer button-disabled-preview"]{min-width: calc(var(--leftbarwidth) - 34px - 34px - 34px - var(--browserborder))}
	.bookmark-bar {bottom: calc(var(--browserborder) + 35px - 1px) !important;}
	.toggle-trash {bottom: calc(var(--browserborder) + 34px) !important;}
	.inner > .tabbar-wrapper {margin-top: var(--browserborder); .tabbar-workspace-button {margin-bottom: var(--browserborder);}}
}

#browser:not(.fullscreen) .mainbar > *,
.mainbar .window-buttongroup.on-mainbar,
.mainbar .window-buttongroup.on-mainbar > button{
    min-height: 34px !important;
	max-height: 34px !important;
	height: 34px !important;
	scale: 1 !important;
}
span.UrlFragment--Lowlight.UrlFragment-Link {
    display: none;
}
.UrlBar-AddressField.button-textonly:not(:focus-within) {
	max-width: max-content;
    background: transparent;
    border: none;
	.UrlField--IsEmpty .UrlFragment-Wrapper, .UrlField--HasEditText .UrlFragment-Wrapper{
    opacity: 1;}
	.UrlFragment-Wrapper {min-width: fit-content;position: relative;}
    input#urlFieldInput {opacity: 0;position:absolute;}
	.UrlField:hover {input#urlFieldInput{cursor:pointer;} background-color: rgba(230, 234, 241, 0.25);border-radius: var(--radiusHalf);}
}
.BookmarkButton--Active {background: transparent;}
button.vivaldi {width: 34px !important;margin:0 0 0 var(--browserborder)  !important;padding:0 !important;}
button.vivaldi span.expand-arrow {display: none;}
.mainbar {
	background-color: var(--colorTabBar);
	border-bottom: unset !important;
}
/* Url text on center */
.UrlField {justify-content: center;}
input#urlFieldInput {text-align:center;}
.UrlBar-UrlObfuscationWarning {-webkit-app-region: no-drag !important;}

#browser:has(.switcher):not(.toolbar-edit-mode) .mainbar > .toolbar.toolbar-visible > div:nth-child(5)[class="button-toolbar toolbar-spacer"],
#browser:has(.switcher):not(.toolbar-edit-mode) .mainbar > .toolbar.toolbar-visible > div:nth-child(5)[class="button-toolbar toolbar-spacer button-disabled-preview"]{
	max-width: 0px;
}
#browser:not(:has(.switcher)):not(.toolbar-edit-mode) .mainbar > .toolbar.toolbar-visible > div:nth-child(5)[class="button-toolbar toolbar-spacer"],
#browser:not(:has(.switcher)):not(.toolbar-edit-mode) .mainbar > .toolbar.toolbar-visible > div:nth-child(5)[class="button-toolbar toolbar-spacer button-disabled-preview"]{
	min-width: calc(var(--leftbarwidth) - 34px - 34px - 34px - var(--browserborder))
}
/* left tab bar */
#tabs-container {
	min-width: var(--leftbarwidth);
	max-width: var(--leftbarwidth);
	padding: var(--browserborder) var(--browserborder) 0 var(--browserborder);
}
.tabbar-wrapper > .tabbar-wrapper {
	border-top-right-radius: var(--radiusHalf);
	border-bottom-right-radius: var(--radiusHalf);
	min-width: var(--leftbarwidth);
	max-width: var(--leftbarwidth);
	height: calc(100% - var(--browserborder) + 1px) !important;
	overflow: hidden;
	z-index:1;
}
#browser:not(:has(#panels-container.switcher)) .tabbar-wrapper > .tabbar-wrapper{
	box-shadow: var(--colorTabBar) 0 calc(var(--leftbarwidth) * 1.5);
}
#tabs-container > .resize > .tab-strip > .separator,
#tabs-container > .resize > .tab-strip .tab-yield-space {
	z-index: 1;
}
#tabs-tabbar-container {
	width: var(--leftbarwidth) !important;
	padding: 0 !important;
}
/* button pin tab */
.tab-position.is-pinned .tab {background-color: rgba(230,234,241,0.15);max-height:var(--PinnedTab);}
.tab-position span.title {color: var(--colorFg);} 
.tab-strip {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	column-gap: 2%;
}
.resize:not(:has(.tab-position.is-pinned)) {
	max-height: calc(100% - 28px) !important;
}
.resize:has(.tab-position.is-pinned) {
	.tab-position.is-pinned {position: fixed;height: var(--PinnedTab);}
	.tab-position.is-pinned .tab-header {justify-content: center;padding: unset;flex-basis: var(--PinnedTab) !important;}
	.tab-position.is-pinned .tab-header .title {display: none;}
	/* Flexible pinned Tab width */
	&:has(span:nth-of-type(2) > .tab-position.is-pinned):not(:has(span:nth-of-type(3) > .tab-position.is-pinned)) {
		.tab-position.is-pinned {width: calc((var(--PinnedWidth)) * 0.49) !important;}
		span:nth-of-type(2) > .tab-position.is-pinned {translate: calc(var(--PinnedWidth) * 0.51) !important;}}
	&:has(span:nth-of-type(3) > .tab-position.is-pinned) {
		.tab-position.is-pinned {width: calc((var(--PinnedWidth)) * 0.32) !important;}
		span:nth-of-type(3n-1) > .tab-position.is-pinned {translate: calc(var(--PinnedWidth) * 0.34) !important;}
		span:nth-of-type(3n-0) > .tab-position.is-pinned {translate: calc(var(--PinnedWidth) * 0.68) !important;}}
	/* Init tab column counter */
	&:not(:has(span:nth-of-type(4) > .tab-position.is-pinned)) {--TabColumn: 1;}
	&:has(span:nth-of-type(4) > .tab-position.is-pinned):not(:has(span:nth-of-type(7) > .tab-position.is-pinned)) {--TabColumn: 2;}
	&:has(span:nth-of-type(7) > .tab-position.is-pinned):not(:has(span:nth-of-type(10) > .tab-position.is-pinned)) {--TabColumn: 3;}
	&:has(span:nth-of-type(10) > .tab-position.is-pinned):not(:has(span:nth-of-type(13) > .tab-position.is-pinned)) {--TabColumn: 4;}
	max-height: calc(100% - 3px * calc(var(--TabColumn) - 1) - 28px - var(--PinnedTab) * var(--TabColumn)) !important;
	top: calc(3px * calc(var(--TabColumn) - 1) + var(--PinnedTab) * var(--TabColumn));
	span:nth-of-type(-n+3) > .tab-position.is-pinned {
		transform: translateY(calc(-3px * calc(var(--TabColumn) - 1) - var(--PinnedTab) * calc(var(--TabColumn) - 0) - var(--browserborder))) !important;}
	span:nth-of-type(n+4):nth-of-type(-n+6) > .tab-position.is-pinned {
		transform: translateY(calc(-3px * calc(var(--TabColumn) - 2)  - var(--PinnedTab) * calc(var(--TabColumn) - 1) - var(--browserborder))) !important;}
	span:nth-of-type(n+7):nth-of-type(-n+9) > .tab-position.is-pinned {
		transform: translateY(calc(-3px * calc(var(--TabColumn) - 3)  - var(--PinnedTab) * calc(var(--TabColumn) - 2) - var(--browserborder))) !important;}
	span:nth-of-type(n+10):nth-of-type(-n+12) > .tab-position.is-pinned {
		transform: translateY(calc(-3px * calc(var(--TabColumn) - 4)  - var(--PinnedTab) * calc(var(--TabColumn) - 3) - var(--browserborder))) !important;}
	/* Temp fix for order -1*/
	&:has(.sync-and-trash-container .newtab) {
		.sync-and-trash-container {order: -1; .newtab {width: 100%;z-index:2;}}
		.tab-position.is-pinned{z-index:1 !important; .tab {transform: translateY(calc(0px - var(--biggertab))) !important;}}
	}
}
#tabs-container > .resize > div > .separator {
    position: relative;
    transform: unset;
}
#tabs-container .tab-position:not(.is-pinned) {
	position: relative;
	transform: unset !important;
	margin-bottom: 1%;
}
#tabs-tabbar-container > button,
#tabs-container > button {
	display: none;
}
/* bigger tab */
.tab-position:not(.is-pinned) .tab .tab-header {flex-basis: var(--biggertab) !important;}
.tab-position:not(.is-pinned) .tab .tab-header > .favicon {min-width: 26px !important;}
.tab-position:not(.is-pinned) .tab .tab-header > .title {padding:0;}
#tabs-container .tab-position:not(.accordion-toggle-arrow):not(.is-pinned) {
	height: var(--biggertab) !important;
	.tab {max-height: var(--biggertab) !important;}
}
/* QOL */
/* not pinned tab audio button */
/* .tab-position:not(.is-pinned) .tab-audio {top: 12px !important;} */
.tab-position:not(.is-pinned) {
	.tab-audio {position: relative !important;top: 0 !important;order: 0;margin-left: 0px;margin-right: 6px;color:var(--colorFg);width:18px;height:18px;}
	.title{position: relative !important;order: 1;}
	.close{position: relative !important;order: 1;}
	.favicon{transform:unset !important;}
}
/* other QOL */
.tab-position.is-pinned .tab-audio {top: 0 !important;}
.tab-position .tab {font-size: 14px;}
.tab-position:not(.toolbar):not(.is-pinned):not(.tab-yield-space) {order: 1;}
.toolbar.toolbar-tabbar.toolbar-large.tab-position {order: 0;}
/* Seperator + new tab */
.button-toolbar.newtab {
	left: unset !important;
	top: unset !important;
	height: var(--biggertab);
	max-width: calc(var(--leftbarwidth) - var(--browserborder) - var(--browserborder));
	button.ToolbarButton-Button[title="Open a New Tab"] {height: var(--biggertab);}
}
button.ToolbarButton-Button[title="Open a New Tab"]:after {
    content: "New Tab";
    color: var(--colorFg);
    width: calc(var(--leftbarwidth) - 28px - var(--browserborder) - var(--browserborder));
    font-size: 14px;
}
/* rubbish bin */
.button-toolbar.toggle-trash {
	position: fixed;
	left: var(--browserborder);
	bottom: var(--browserborder);
	button {min-height: 28px !important;}
}
.button-toolbar.synced-tabs-button {
	position: fixed;
	left: calc(var(--browserborder) + 28px);
	bottom: var(--browserborder);
	button {min-height: 28px !important;}
}
/* workspace icononly */
.separator-wsbutton {display: none;}
.tabbar-workspace-button {
	position: absolute;
	padding: 0 6px;
	right: var(--browserborder);
	bottom: 1px;
	width: 32px !important;
	height: 28px !important;
	z-index: 5;
	background-color: transparent !important;
	justify-content: center;
	box-shadow: unset !important;
	button.ToolbarButton-Button[title="Workspaces"] {min-width: 32px;margin: 0px !important;}
}
.button-toolbar.workspace-popup.tabbar-workspace-button button:hover {
	background-color: transparent !important;
}
.tabbar-workspace-button > button > .button-title,  .tabbar-workspace-button > button > .button-toolbar-menu-indicator {
	display: none;
}
#browser:has(.WorkspacePopup) {
	.ToolbarButtonPopup-DefaultStyles {
		top: unset !important;
		bottom: calc(var(--browserborder) + 34px) !important;}
	.button-popup-pos-below:before {
		top: unset;
		bottom: -12px;
		transform: rotate(180deg);}
}
/* Bookmarks */
#main:has(.synced-tabs-button) .bookmark-bar{
	left: calc(var(--browserborder) + 64px);
	width: calc(var(--leftbarwidth) - var(--browserborder) - var(--browserborder) - 96px);}
#main:not(:has(.synced-tabs-button)) .bookmark-bar{
	left: calc(var(--browserborder) + 32px);
    width: calc(var(--leftbarwidth) - var(--browserborder) - var(--browserborder) - 64px);}
.bookmark-bar {
	position: absolute;
    height: 28px !important;
	overflow: hidden;
    z-index: 3;
	background: transparent !important;
	border: 0  !important;	
	bottom: var(--browserborder);
	.observer {padding: 0;justify-content: center;}
	button {padding: 0 3px;gap:0;visibility: visible;}
	.bookmarkbarItem {background-color: transparent !important;}
}
/* floating tabs using panel toggle*/
#browser:has(.switcher):not(.toolbar-edit-mode) {
	.tabbar-wrapper > .tabbar-wrapper, .bookmark-bar, .tabbar-workspace-button {
		transition-duration: 200ms !important;
		transition-property: left, right, opacity !important;
		transition-delay: 200ms !important;
	}
	.tabbar-wrapper > .tabbar-wrapper {
		left: calc(var(--browserborder) - var(--leftbarwidth));
		z-index: 1;
		opacity: 0;
	}
	.bookmark-bar:has(.bookmarkbarItem:not(.highlighted)) {
		left: calc(var(--browserborder) + 32px - var(--leftbarwidth));
		opacity: 0;
	}
	.tabbar-workspace-button {
		opacity: 0;
	}
}
#browser:has(.switcher) {
	&:has(.bookmark-bar:hover),
	&:has(.tabbar-wrapper > .tabbar-wrapper:hover),
	&:has(.WorkspacePopup),
	&:has(.bookmarkbarItem.highlighted),
	&:has(.toolbar-statusbar:hover),
	&:has(.download-popout)
	{
		.tabbar-wrapper > .tabbar-wrapper{
			left: 0 !important;
			opacity: 1 !important;
			transition-delay: 0ms !important;}
		.bookmark-bar {
			left: calc(var(--browserborder) + 32px);
			opacity: 1 !important;
			transition-delay: 0ms !important;}
		.tabbar-workspace-button {
			opacity: 1 !important;
			transition-delay: 0ms !important;}
	}
}
/* bottom bar */
/* StatusInfo */
.StatusInfo {
	bottom: var(--browserborder) !important;
    padding-left: var(--leftbarwidth) !important;
	.StatusInfo-Content {border-radius: var(--radiusHalf) !important;}
}
/* CurvedFrame.css */
#browser:not(.fullscreen) #webpage-stack {
    /* change color (last parameter) to your preferred color */
    box-shadow: 0 0 0 calc(var(--browserborder) * 2) var(--colorTabBar); 
	border-radius: var(--radiusHalf);
	margin-bottom: var(--browserborder);
	margin-right: var(--browserborder);
}
#browser:not(.fullscreen):has(#panels-container.switcher) #webpage-stack {
	margin-left: calc(var(--browserborder) - var(--leftbarwidth));
}

/* Color/Blur fix */
span.button-icon {
    color: var(--colorFg);
}
#browser.transparent-tabbar #tabs-tabbar-container {
	background-color: unset !important;
}

/* right bar */
/* no panels */
#panels-container {display:none;}
