:root {
	--leftbarwidth: 210px; /* adjust this for your best view */
	--browserborder: 19px; /* change this if you want to change border size */
}

/* top bar */

#browser:has(#titlebar) .mainbar {
	height:0 !important;
	position: absolute;
	width: 100%;

}
#browser:has(.mainbar):not(.fullscreen) #header{
	height: var(--browserborder);
	min-height: calc(var(--browserborder) / var(--uiZoomLevel)) !important;
	background-color: var(--colorTabBar) !important;
	width: calc(100% - 60px);

}
#browser:has(.mainbar) #header #pagetitle {
	opacity: 0;
	justify-content:center;
}
#browser:has(.mainbar):has(#header:not(:hover)):has(.mainbar > .toolbar:not(:hover)) #pagetitle{
	opacity: 0;
	transition: opacity 300ms 1000ms ease-in-out !important;
}
#browser:has(.mainbar):has(#header:not(:hover)):not(.toolbar-edit-mode):has(.mainbar .UrlBar-AddressField:not(:focus-within):not(:hover)):not(:has(.mainbar .UrlBar-AddressField .OmniDropdown)):not(:has(.extensionIconPopupMenu)):not(:has(.PageTiling-Button)) .mainbar > .toolbar:not(:hover) {
	margin-top: -34px;
	opacity: 0;
	transition-delay: 1000ms !important;
	transition-duration: 600ms !important;
	transition-property: margin-top, opacity !important;
}
.mainbar > .toolbar {
	right: calc(var(--browserborder) /2) !important;
	border-radius: var(--radius);
	background: var(--colorBg);
}
#browser:has(#panels-container.switcher) .mainbar > .toolbar {
	width: calc(100% - var(--browserborder));
	left:  calc(var(--browserborder) / 2) !important;
}
#browser:not(:has(#panels-container.switcher)) .mainbar > .toolbar {
	width: calc(100% - var(--leftbarwidth) - calc(var(--browserborder) /2));
	left:  calc(var(--leftbarwidth)) !important;
}
.mainbar > .toolbar .button-toolbar > button{
	border-radius: var(--radius);
}
#app:not(:has(.button-popup)) #browser:not(.toolbar-edit-mode):not(:has(.toolbar.dragging, #capture-area)).address-top .toolbar-mainbar .toolbar-spacer-flexible,
#app:not(:has(.button-popup)) #browser:not(.toolbar-edit-mode):not(:has(.toolbar.dragging, #capture-area)).address-top .toolbar-mainbar .toolbar-spacer-flexible button{
  -webkit-app-region: no-drag !important;
}
div > div > button.vivaldi {
	display: none;
}
.mainbar .toolbar > .UrlBar-AddressField {
	height: 34px;
	border-radius: var(--radius);
}

.mainbar > .toolbar > .toolbar-extensions {
	margin: 0 2px 0 2px;
}
.OmniDropdown {
	top: calc(100% + -1px);
	border: 2px solid var(--colorAccentBgFadedMost); /*The color of the border is to match .UrlBar-AddressField:focus-within */
	border-radius: var(--radius);
	margin-left: -2px !important;
	margin-right: -1.5px !important;
}
.UrlBar-UrlObfuscationWarning { /* causing urlbar flicker when slide away */
	display: none;
}
.UrlBar-UrlField{
	text-align: center;
}
.UrlField{
    justify-content: center;
}

/* Mac Button */
#browser.win .window-buttongroup button svg {
    display: block;
    fill: black;
    transition: opacity 200ms ease-in-out !important;
    opacity: 0;
	scale: 0.6;
}

#browser.win .window-buttongroup button {
	top: 3px !important;
	padding: 0;
	margin: 0 5px;
    position: relative; /* Add this line */
	display: flex;
	align-items: center;
	justify-content: center;
}
#browser.win .window-buttongroup button,
#browser.win .window-buttongroup button.window-close {
	height: 10px !important;
	width: 10px !important;
	border-radius: 100%;
	opacity: 0.6;
	background-color: #A6A6A6;
}
/* Animation */
#browser.win .window-buttongroup button:hover svg {
	opacity: .75;
}
:not(:has(.mainbar))  #browser.win .window-buttongroup{
	overflow: visible;
	scale: 1;
}
:has(.mainbar) #browser.win .window-buttongroup{
	height: var(--browserborder) !important;
	min-width: calc(60px / var(--uiZoomLevel));
	min-height: calc(var(--browserborder) / var(--uiZoomLevel)) !important;
	width: 60px;
	right: -60px;
	background: var(--colorTabBar);
	scale: 1;
}
#browser.win .window-buttongroup:hover button.window-minimize{
	background-color: #fac536 !important;
	opacity: 1;
}
#browser.win .window-buttongroup:hover button.window-maximize{
	background: #39ea49 !important;
	opacity: 1;
}
#browser.win .window-buttongroup:hover button.window-close{
	background: #f25056 !important;
	opacity: 1;
}

/* left tab bar */


#tabs-container {
	min-width: var(--leftbarwidth);
	max-width: var(--leftbarwidth);
}
#tabs-tabbar-container {
	border-radius: var(--radius);
	min-width: var(--leftbarwidth);
	max-width: var(--leftbarwidth);
	z-index: 1;
	height: calc(100% - 15px) !important;
}
#browser:not(:has(#panels-container.switcher)) #tabs-tabbar-container{
	box-shadow: var(--colorTabBar) 0 calc(var(--leftbarwidth) * 1.5);
}
#tabs-container > .resize > .tab-strip > .separator,
#tabs-container > .resize > .tab-strip .tab-yield-space {
	z-index: 1;
}
/* button pin tab */
.tab-position.is-pinned {
	display: inline-flex;
	margin: .5% 2% .5% 2%;
	width: calc(var(--leftbarwidth) / 3 - 4%) !important;
	position: relative;
	transform: unset !important;
}
.tab-position.is-pinned .tab-header {
    justify-content: center;
    padding: unset;
}

#tabs-container .tab-position.is-pinned .tab-header .title {
    display: none;
}

#tabs-container > .resize > div > .separator {
    position: relative;
    transform: unset;
}

#tabs-container .tab-position:not(.is-pinned) {
	position: relative;
	transform: unset !important;
	margin-bottom: 1%;
}

#tabs-container .newtab {
	top: unset !important;
	left: unset !important;
	width: 100%;
	transform: unset !important;
	display: flex;
	justify-content: center;
}
#tabs-tabbar-container > button,
#tabs-container > button {
	display: none;
}

/* Two-Level Tab */
#tabs-subcontainer {
    background: var(--colorTabBar) !important;
    border-radius: var(--radius);
	min-width: var(--leftbarwidth) !important;
	overflow: hidden;
	z-index: 1;
}
.tab-position.is-substack > div > svg, svg.svg-tab-stack{
    display: none;
}
#browser:has(.tab-position.is-substack:not(:hover)) #tabs-subcontainer:not(:hover) {
    min-width: 0 !important;
    opacity: 0;
    transition-delay: 300ms !important;
    transition-property: min-width, opacity;
    transition-duration: 300ms !important;
}

#tabs-subcontainer .tab-position {
	position: relative;
	transform: unset !important;
	min-width: 30px;
	width: 214px !important;
	margin: 2px 0;
}
#tabs-subcontainer .newtab {
	top: unset !important;
	left: unset !important;
	width: 100%;
	transform: unset !important;
	justify-content: center;
}
#tabs-subcontainer > .tab-strip {
	display: flex;
	flex-direction: column !important;
    justify-content: flex-start;
    align-content: center;
}

/* Get back text when hovering on 2lv tab */
#browser:not(.alt-tabs) .tab-position .tab:hover.tab-small:not(.tab-mini).active .title,
#browser:not(.alt-tabs) .tab-position .tab.force-hover.tab-small:not(.tab-mini).active .title {
	display: flex;
}

/* Hide Panel and use it as checker for floating tab */
#panels-container {
	display: none;
}

/* floating tabs */
#browser:has(#panels-container.switcher):has(#tabs-tabbar-container:not(:hover)):has(.toolbar-statusbar:not(:hover)):has(.bookmarkbarItem:not(:hover)):has(.tabbar-workspace-button:not(:hover)):not(:has(.WorkspacePopup)) #tabs-tabbar-container,
#browser:has(#panels-container.switcher):has(#tabs-tabbar-container:not(:hover)):has(.toolbar-statusbar:not(:hover)):has(.bookmarkbarItem:not(:hover)):has(.tabbar-workspace-button:not(:hover)):not(:has(.WorkspacePopup)) .toolbar-statusbar,
#browser:has(#panels-container.switcher):has(#tabs-tabbar-container:not(:hover)):has(.toolbar-statusbar:not(:hover)):has(.bookmarkbarItem:not(:hover)):has(.tabbar-workspace-button:not(:hover)):not(:has(.WorkspacePopup)) .tabbar-workspace-button,
#browser:has(#panels-container.switcher):has(#tabs-tabbar-container:not(:hover)):has(.toolbar-statusbar:not(:hover)):has(.bookmarkbarItem:not(:hover)):has(.tabbar-workspace-button:not(:hover)):not(:has(.WorkspacePopup)) .bookmarkbarItem{
	left: calc(var(--browserborder) / 2 - var(--leftbarwidth));
	opacity: 0;
	transition-delay: 500ms !important;
}
#browser:has(#panels-container.switcher) #tabs-tabbar-container,
#browser:has(#panels-container.switcher) .bookmarkbarItem {
	left: 0;
	opacity: 1;
	transition-property: left, opacity !important;
	transition-duration: 300ms !important;
	transition-delay: 100ms !important;
}
#browser:has(#panels-container.switcher) .toolbar-statusbar{
	left: 32px;
	opacity: 1;
	transition-property: left, opacity !important;
	transition-duration: 300ms !important;
	transition-delay: 100ms !important;
}
#browser:has(#panels-container.switcher) .tabbar-workspace-button {
	left: calc(var(--leftbarwidth) - 32px);
	opacity: 1;
	transition-property: left, opacity !important;
	transition-duration: 300ms !important;
	transition-delay: 100ms !important;
}
/* CurvedFrame.css */
#browser:not(.fullscreen) #webpage-stack {
    /* change color (last parameter) to your preferred color */
    box-shadow: 0 0 0 calc(var(--browserborder) * 2) var(--colorTabBar); 
	border-radius: var(--radius);
	margin-bottom: calc(var(--browserborder) / 2);
	margin-right: calc(var(--browserborder) / 2);
}
#browser:not(.fullscreen):has(#panels-container.switcher) #webpage-stack {
	margin-left: calc(var(--browserborder) / 2  - var(--leftbarwidth));
}
#browser:not(.fullscreen) #webpage-stack::before {
    content: '';
    position: absolute;
    width: var(--radius);
    height: var(--radius);
    background-color: var(--colorTabBar);
    -webkit-mask-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 70%, #000 73%);
    transform: rotate(180deg);
    z-index: 1;
}

#browser:not(.fullscreen) #webpage-stack::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: var(--radius);
    height: var(--radius);
    background-color: var(--colorTabBar);
    -webkit-mask-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 70%, #000 73%);
    transform: rotate(-90deg);
    z-index: 1;
    top: 0;
    right: 0;
}

/* Need bookmark bar on bottom + icon only + put all bookmarks into one folder */
.bookmark-bar.icon {
	left: 0;
    height: 28px;
    max-height: 28px;
    position: fixed;
    min-width: 32px;
    max-width: 32px;
    bottom: calc(var(--browserborder) / 2);
	border: unset;
	visibility: collapse;
	z-index: 2;
}
.bookmark-bar.icon .observer button {
	visibility: visible;
}
.bookmark-bar.icon .observer .bookmarkbarItem.folder {
    background: var(--colorTabBar) !important;
	width: 32px;
    justify-content: center;
}
#main > .bookmark-bar.icon > div > button > svg > g > svg > path {
	d: path("M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z")
}

/* Hide Status Bar too, if u need status info just put it there */
#browser:not(.toolbar-edit-mode) .toolbar-statusbar {
	position: absolute;
	bottom: calc(var(--browserborder) / 2);
}
.toolbar-statusbar {
	left: 32px;
	width: calc(var(--leftbarwidth) - 32px);
}
.button-textonly.StatusInfo {
	justify-content: center;
	font-size: 12px;
	z-index: -1;
}
#browser:not(.toolbar-edit-mode):not(:has(#panels-container.switcher)) .button-textonly.StatusInfo {
	left: calc(var(--leftbarwidth));
	width: calc(100% - var(--leftbarwidth) - var(--browserborder) / 2);
	bottom: calc(var(--browserborder) / 2);
	position: fixed;
	visibility: collapse;
}
#browser:not(.toolbar-edit-mode):has(#panels-container.switcher) .button-textonly.StatusInfo {
	left: calc(var(--browserborder) / 2);
	width: calc(100% - var(--browserborder));
	bottom: calc(var(--browserborder) / 2);
	position: fixed;
	visibility: collapse;
}
.StatusInfo-Content {
	padding: 2px;
	background: var(--colorBg);
	border-radius: var(--radius);
	visibility: visible;
}
/* workspace icononly */
.tabbar-workspace-button {
	position: absolute;
	left: calc(var(--leftbarwidth) - 32px);
	bottom: calc(var(--browserborder) / 2);
	width: 28px !important;
	height: 28px !important;
	z-index: 5;
	background-color: transparent !important;
}
.tabbar-workspace-button > button > .button-title,  .tabbar-workspace-button > button > .button-toolbar-menu-indicator {
	display: none;
}
#browser:has(.WorkspacePopup) .ToolbarButtonPopup-DefaultStyles {
	top: unset !important;
	bottom: calc(var(--browserborder) / 2 + 34px) !important;
}
#browser:has(.WorkspacePopup) .button-popup-pos-below:before {
	top: unset;
	bottom: -12px;
	transform: rotate(180deg);
}
